<a href="https://colab.research.google.com/github/Anthonz03/PLNG211-2-OLFU-QC/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10
b = 5
print(a>b)
print(b==a)
print(5>10)

True
False
False

Boolean () Function

In [6]:
print(bool(2))
print(bool("Hello World"))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
False
False
False

Function that returns a boolean answer

In [9]:
def My_Function():
  return False


if My_Function():
    print("Correct")
else:
    print("Incorrect")

Incorrect

You Try

In [15]:
c=6
d=7
print(c==d)
print(c!=d)
c==d
c!=d

False
True

True

Phython Operators

In [22]:
print(5+15)
print(6-11)
print(3*16)
print(1/6)
print(4%3)
print(9%6)
print(36**2)

20
-5
48
0.16666666666666666
1
3
1296
49
120

In [28]:
e = 60
f = 13               #00001101, 2s complement
print(f ^ e)
print(e<<1)
print(e>>1)
print(~f)

49
120
30
-14

In [30]:
x= 18
y = 7
x+=3
print("x=",x)

x= 21

Logical Operators